{% extends 'store/base.html' %}
{% block title %} Zmiana hasła {% endblock %}
{% block content %}

<h1>Zmień Hasło...</h1>
<br><br>
<div>
    <form method="post">
    {% csrf_token %}

        <table>{{ form }}
            <tr> <td> <br></td> <td> </td></tr>
            <tr>
                <td> </td>
                <td><input type="submit" value="Zatwierdź" class="btn btn-primary">{% if cancel %}  <a class="btn btn-success" href="{{ cancel }}">Anuluj</a>{% endif %}</td>
            </tr>
        </table>
  </form>
</div>

{% endblock content %}