<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title> {% block title %} Django_web_store {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();

					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));

						break;
					}
				}
			}

			return cookieValue;
		}
		var csrftoken = getToken('csrftoken');

	</script>

</head>

<body>
	<div id="page-container">
		<div id="content-wrap" class="content-wrap" >
        	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" STYLE="padding-top: 8px;">

				<div class="container-fluid navi"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
		  		</button>
					<div>
						<div class="" style="display: inline; float: left;">
		  					<a class="user-link" href="{% url 'store' %}" style="padding-right: 10px;">Django_web_store_SDA</a>
						</div>
						<div class="" style="display: inline; float: left; border: solid black 0px;">
    						<form class="d-flex" method="POST" action="{% url 'search' %}" style="">
									{% csrf_token %}
      							<input class="form-control me-2" type="search" placeholder="Szukaj..." name="searched"  aria-label="Search" style="width: 380px;">
      							<button class="btn btn-success" type="submit">Szukaj</button>
    						</form>
						</div>
					</div>

			  		<div class="form-block my-0 my-lg-0" style="min-width: 120px; float: right; display: inline;">
						{% if user.is_authenticated %}
				  		<div class="" style="min-width: 110px; display: inline; float: left;">
				    		<div class="welcome-msg" style="min-width: 90px; float: left;">Witaj
								<a class="user-link" href="{% url 'profile' %}">{{ user.username }}</a> !
				    		</div>
				    		<div style="width: 70px; float: right; border: solid black 0px;">
								<a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>
				    		</div>
				  		</div>

        				{% else %}
				  		<div style="min-width: 70px; float: left;">

				  			<div style="width: 60px; float: middle;">
								<a href="{% url 'login' %}" class="btn btn-warning">Login</a>
				  			</div>
				  		</div>

						{% endif %}
						<div class="form-inline my-0 my-lg-0" style="width: 60px; display: block-inline; float: right;">
	     					<a href="{% url 'cart' %}">
	    					<img  id="cart-icon" src="{% static 'images/cart.png' %}">
	    					</a>
	    					<p id="cart-total">{{cartItems}}</p>
						</div>
			  		</div>
				</div><div style="clear: both; padding-left: 10px;">
		  		<div class="collapse navbar-collapse" id="navbarSupportedContent">

					<ul class="navbar-nav mr-auto">
			  			<li class="nav-item active">
							<a class="nav-link" href="{% url 'store' %}"> Strona główna <span class="sr-only"></span></a>
			  			</li>
			  				{% for category in categories %}
			  			<li class="nav-item dropdown">
				  			<a class="nav-link dropdown-toggle" href="{% url 'categories_detail_list' category.id %}" id="navbarDropdown">
					  		{{category.name}}<span class="sr-only"></span></a>
				  			<ul class="dropdown-menu">
				  			{% for subcategory in category.subcategory_set.all %}
				  				<li><a class="dropdown-item" href="{% url 'subcategories_detail_list' subcategory.id %}">
						   			{{ subcategory.name }} ({{ subcategory.product_set.count }})<span class="sr-only">(current)</span></a></li>

                			{% endfor %}
				  			</ul>
			  			</li>
			  				{% endfor %}
					</ul>
				</div>
<!--		  </div>-->
<!--			  <div class="form-block my-0 my-lg-0" style="min-width: 120px; display: inline; float: right; border: solid black 1px;">-->
<!--				{% if user.is_authenticated %}-->
<!--				  <div class="" style="min-width: 110px; display: inline; float: left;">-->
<!--				    <div class="welcome-msg" style="min-width: 90px; float: left;">Witaj-->
<!--						<a class="user-link" href="{% url 'profile' %}">{{ user.username }}</a> !-->
<!--				    </div>-->
<!--				    <div style="width: 70px; float: right; border: solid black 0px;">-->
<!--						<a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>-->
<!--				    </div>-->
<!--				  </div>-->

<!--        		{% else %}-->
<!--				  <div style="min-width: 70px; float: left; border: solid black 0px;">-->

<!--				  <div style="width: 60px;  float: middle; border: solid black 0px;">-->
<!--						<a href="{% url 'login' %}" class="btn btn-warning">Login</a>-->
<!--				  </div>-->
<!--				  </div>-->

<!--				{% endif %}-->
<!--					<div class="form-inline my-0 my-lg-0" style="width: 60px; display: block-inline; float: right; border: solid black 0px;">-->
<!--	     				<a href="{% url 'cart' %}">-->
<!--	    				<img  id="cart-icon" src="{% static 'images/cart.png' %}">-->
<!--	    				</a>-->
<!--	    				<p id="cart-total">{{cartItems}}</p>-->
<!--					</div>-->
<!--			  </div>-->
<!--			  <div class="form-inline" style="position: absolute; top: 30; border: solid black 0px;" >-->
<!--    					<form method="POST" action="{% url 'search' %}" style="max-width:300px border: solid black 3px; float: left;">-->
<!--							{% csrf_token %}-->
<!--        					<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--        					<input type="search" placeholder="Szukaj..." name="searched">-->
<!--        					<button title="Search"><i class="fa fa-search">Szukaj</i></button>-->
<!--   					 	</form>-->
<!--					</div>-->

<!--			<div class="d-flex" style="position: relative; border: solid black 1px; padding-top: 4px; padding-right: 9px; margin-right:7px;" >-->
<!--    					<form method="POST" action="{% url 'search' %}" style="width: 400px; border: solid black 1px; float: left;">-->
<!--							{% csrf_token %}-->

<!--        					<input class="form-control me-2" type="search" placeholder="Szukaj..." name="searched" style="width:300px; position: inline;">-->
<!--        					<button class="btn btn-success" title="Search">Szukaj</button>-->
<!--   					 	</form>-->
<!--				</div>-->
<!--			<div class="container-fluid">-->
<!--    			<form class="d-flex" method="POST" action="{% url 'search' %}">-->
<!--							{% csrf_token %}-->
<!--      				<input class="form-control me-2" type="search" placeholder="Szukaj..." name="searched"  aria-label="Search">-->
<!--      				<button class="btn btn-success" type="submit">Szukaj</button>-->
<!--    			</form>-->
<!--			</div>-->
			</div>
		</nav>
		<hr>
		<main>

    		<div class="container">
				{% block content %}

        		{% endblock content %}

   			</div>

				{% block orders %}

				{% endblock orders %}

				{% block comment %}

				{% endblock comment %}


		</main>
<div>
		<footer class="text-muted py-5">
  			<div class="container">
    			<p class="float-end mb-1">
    	  			<a href="#">Back to top</a>
    			</p>
    			<p class="mb-1">2023 &copy; SDA grupa ZDPYTpol58!</p>

  			</div>
		</footer>
	</div>

	</div>

</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>

</html>
