<!-- templatka robocza widoku listy w oparciu o store.html -->

{% load static %}

{% if products.exists %}

{% for i in products %}

    <div>
        <img class="thumbnail" src="{{ i.thumbnail.url }}">
        <div class="box-element product">
            <h6><strong> {{i.name}} </strong></h6><br>
            <h6>{{i.description}}</h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="{% url 'products_detail' i.id %}">View</a>
            <h4 style="display: inline-block;float: right">{{i.price}}</h4>
        </div>
    </div>

{% endfor %}
{% else %}
<strong>There are no products listed</strong>
{% endif %}





