{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="box-element product-detail thumbnail">
                    <img class="thumbnail detail" src="{{ product.thumbnail.url }}">
                </div>
                <div class="box-element product-detail cash"><br>
                    <button class="btn btn-outline-secondary add-btn">Do Koszyka</button>
                    <h4 style="display: inline-block; float: right">{{product.price}} zł</h4>
                    <br>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="box-element product-detail">
                    <div style="display: inline-block; float: left; height: 6rem; width: 75%;">
                        <h1><strong> {{product.name}} </strong></h1>
                    </div>
                    <div style="display: inline-block; float: right">
                        <strong>
                            <span style="font-size:1.9rem;">Ocena:  {{product.get_total_score}}/</span>
                            <span style="font-size:1.2rem;"><sup>5</sup></span>
                        </strong>
                    </div>
                    <div style="display: block; margin-top:6rem;">
                        <br>Opis Produktu:
                        <hr>
                            <h5>{{product.description}}</h5>
                        <hr>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock content %}
{% block comment %}


{% if not product.comments.all %}
<div class="container comment">
<div class="row">
    <div class="col-lg-12">
        <div class="box-element product-comment">
            Brak komentarzy, jeszcze... <a href="#"> dodaj </a>
        </div>
    </div>
</div></div>
{% else %}
    {% for comment in product.comments.all %}
<div class="container comment"><div class="row">
    <div class="col-lg-12">
        <div class="box-element product-comment">
            <div style="display: inline-block; float: left">
                <strong>Data utworzenia:</strong> {{ comment.creation_datetime|date:"d M Y" }}
                <strong>Autor:</strong> @{{ comment.creator.user }}
            </div>
            <div style="display: inline-block; float: right">
                <strong>Ocena:</strong> {{ comment.score }}/5
            </div><br>
            <hr>
            <div class="comment-text">{{comment.comment }}</div>

        </div>
    </div>
</div>
</div>
    {% endfor %}
{% endif %}

{% endblock comment %}
