{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="box-element product-detail thumbnail">
                    <img class="thumbnail detail" src="{{ product.thumbnail.url }}">
                </div>
                <div class="box-element product-detail cash"><br>
                    <button class="btn btn-outline-secondary add-btn">Do Koszyka</button>
                    <h4 style="display: inline-block; float: right">{{product.price}} zł</h4>
                    <br>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="box-element product-detail">
                    <div style="display: inline-block; float: left; height: 6rem; width: 100%;">
                        <h1><strong> {{product.name}} </strong></h1>
                    </div>
                    <div style="display: inline-block; float: right">
                        <strong>
                            <span style="font-size:1.9rem;">Ocena:  {{product.get_total_score}}/</span>
                            <span style="font-size:1.2rem;"><sup>5</sup></span>
                        </strong>
                    </div>
                    <div style="display: block; margin-top:6rem;">
                        <br>Opis Produktu:
                        <hr>
                            <h5>{{product.description}}</h5>
                        <hr>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock content %}
{% block comment %}


{% if not product.comments.all %}
<div class="container comment">
<div class="row">
    <div class="col-lg-12">
        <div class="box-element product-comment">
            <strong style="display: inline-block; float: left; margin-top:4px">Brak komentarzy dla produktu... </strong>
            <a class="btn btn-outline-dark" href="{% url 'add_comment' product.pk %}" style="display: inline-block; float: right;"> Dodaj Nowy Komentarz</a>
        </div>
    </div>
</div></div>
{% else %}
<div class="container comment">
<div class="row">
    <div class="col-lg-12">
        <div class="box-element product-comment">
            <strong style="display: inline-block; float: left; margin-top:4px">Utwórz nowy komentarz:</strong>
            <a class="btn btn-outline-dark" href="{% url 'add_comment' product.pk %}" style="display: inline-block; float: right;"> Dodaj </a>
        </div>
    </div>
</div></div>
    {% for comment in product.comments.all %}
<div class="container comment"><div class="row">
    <div class="col-lg-12">
        <div class="box-element product-comment">
            <div style="margin-bottom: -1rem;">
            <div style="display: inline-block; float: left;">
                <strong>Data utworzenia:</strong> {{ comment.creation_datetime|date:"d M Y" }}
                <strong>Autor:</strong> @{{ comment.creator }}
            </div>
                <div style="display: inline-block; float: right;">
                    <strong>Ocena:</strong> {{ comment.score }}/5
                </div>
            </div>
            <br>
                <div><hr><div style="margin-bottom: 1rem; margin-top: -1rem;"> <span style="font-size:1.5rem;">{{comment.title }}</span></div>
                <div class="comment-text">{{comment.comment }}</div>
            </div>


        </div>
    </div>
</div>
</div>
    {% endfor %}
{% endif %}

{% endblock comment %}
