<div class="container comment">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element product-order-box">
                <div>
                <h4 style="margin-top:4px">Twoje zamówienia:</h4>
                <hr>
                </div>
{% if profile %}
{% if not profile.orders.all %}
                <div>
                    <h4 style="margin-top:4px">Brak historii zamówień.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% for order in profile.orders.all %}
    {% if order.get_cart_total > 0 %}
                <div class="box-element product-order">
                    <div style="display: inline-block; float: left; width: 80%; margin-top: 5px;">
                        <strong>Nr zamówienia:</strong> {{ order.transaction_id }}
                        <strong>Data złożenia:</strong> {{ order.date_ordered|date:"d M Y" }}
                        <strong>Status:</strong>
                        {% if order.complete %} Zrealizowane
                        {% else %}W trakcie..
                        {% endif %}
                        <hr>
                    </div>
                    <div style="display: inline-block; float: right;">
                        <a class="btn btn-outline-dark" href="{% url 'order_detail_list' order.pk %}" style="display: inline-block; float: right;">Szczegóły</a>
                    </div>

                </div>
 {% endif %}
{% endfor %}
            </div>
        </div>
    </div>
</div>

    {% endif %}
{% else %}

                <div>
                    <h4 style="margin-top:4px">Uzupełnij Profil aby móc składać zamówienia  </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}