{% if not user.profile_comments.all %}
<div class="container comment">
<div class="row">
    <div class="col-lg-12">
        <div class="box-element product-comment">
            <h4 style="margin-top:4px">Wszystkie komentarze użytkownika: </h4>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="box-element product-comment">
            <h4 style="margin-top:4px">Nie napisałeś jeszcze żadnego komentarza... </h4>
        </div>
    </div>
</div></div>
{% else %}
<div class="container comment">
<div class="row">
    <div class="col-lg-12">
        <div class="box-element product-comment">
            <h4 style="margin-top:4px">Wszystkie komentarze użytkownika: </h4>

        </div>
    </div>
</div></div>
    {% for comment in user.profile_comments.all %}
<div class="container comment"><div class="row">
    <div class="col-lg-12">
        <div class="box-element product-comment">
            <div style="margin-bottom: -1rem;">
            <div style="display: inline-block; float: left;">
                <strong>Data utworzenia:</strong> {{ comment.creation_datetime|date:"d M Y" }}
                <strong>Produkt:</strong>  {{ comment.product.name }}
            </div>
                <div style="display: inline-block; float: right;">
                    <strong>Ocena:</strong> {{ comment.score }}/5
                </div>
            </div>
            <br>
                <div><hr><div style="margin-bottom: 1rem; margin-top: -1rem;"> <span style="font-size:1.5rem;">{{comment.title }}</span></div>
                <div class="comment-text">{{comment.comment }}</div>
            </div>


        </div>
    </div>
</div>
</div>
    {% endfor %}
{% endif %}
