body{
	background-color: hsl(0, 0%, 98%);
}

/* Navbar */
@media all and (min-width: 999px) {
    .thumbnail.detail {max-width: 25rem;}
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item .nav-link{ color:#fff;  }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; width:300px; background-color: #ffc107; box-shadow: -1px 4px 7px -2px rgba(33,33,33,1);}
	.navbar {  z-index:1;  position: fixed;  top: 0;  width: 100%;  height: 6rem; display: block}

}


@media only screen and (max-width: 999px) {
    div.content-wrap {padding-top: 0.1rem;}

    .thumbnail.detail {max-width: 100%;}
    .navbar .nav-item {width: 7em;}
    .navbar .nav-item .dropdown-menu{ display: none; width: 5em; }
	.navbar .nav-item .nav-link{ color:#fff; width: 7em;  }
	.navbar .nav-item:hover .nav-link{ width: 7em;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; width:300px; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; width:300px; background-color: #ffc107; box-shadow: -1px 4px 7px -2px rgba(33,33,33,1);}
	a.navbar-brand {padding: 0px 10px;}

}



/*
.navbar {
  z-index:1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.5rem;

}*/
/* Navbar end */


h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

/* Product Box */

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;

	padding: 10px;
}

.box-element.product{
    height: 280px;
}

.box-element.product-detail{
    min-height: 30rem;
}

.box-element.product-detail.thumbnail{
    min-height: 25rem;
    background-color: #fff;
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
}

.box-element.product-detail.cash{
    min-height: 5rem;
    background-color: #fff;
    box-shadow: 5px 5px 16px 0px rgba(214,214,214,0.7);

}

/* Product Store*/
.product-descr-list{
    height: 85px;
}

/* Thumbnail global */
.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

/* Thumbnail product detail */
.thumbnail.detail{

    height: 380px;
    float: left;
    margin: 0px;
    border-radius: 5px;

}

.product{
	border-radius: 0 0 4px 4px;
}

.container.comment {
    margin-top: 10px
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

div.welcome-msg{
    margin-right: 5px;
    margin-top: 5px;
    color:#fff;

}
/* User Profile link highlight */

a.user-link{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;

}

a.user-link:hover, a.user-link:active {
  background-color: #ffc107;
  color: black;
}

/* User Profile link highlight end*/

.float-end {
    float: right;
}

/* Footer section */
#page-container {
  position: relative;
  min-height: 100vh;
}

div.content-wrap {
  padding-top: 6.0rem;
  padding-bottom: 5.5rem;    /* Footer height */
}

@media only screen and (max-width: 999px) {
    div.content-wrap {padding-top: 0rem;}
}

.text-muted {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;            /* Footer height */
}
/* Footer section end*/

/* comment section */
.comment-text {
    background: #f0f0f0;
    min-height: 6rem;
    padding: 10px;
    margin: -3px;
    margin-top: -2px;
    border-radius: 10px;
}

.comment-text.order {
    margin-top: 2px;
}

.box-element.product-comment{
    min-height: 3.5rem;
}
/* Comment section end */

.box-element.product-order {
    height: 4rem;
    box-shadow: -10px 10px 16px 0px rgba(214,214,214,0.5);
}
.box-element.product-order-box {
    min-height: 130px;
}

